@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Nanum+Gothic&family=Jua&family=Poppins:wght@400;500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
    font-family: "Nanum Gothic", sans-serif;
}

.navbar {
    padding: 15px 3% 15px 3%;
}

.modal-bodyTitle {
    font-weight: bold;
}

.modal-bodyTitle {
    text-align: center;
}

.modal-picture {
    width: 100%;
    height: 300px;
    border-radius: 5%;
}

.d-block {
    width: 80%;
    margin-top: -15%;
    margin-bottom: -20%;
    width: initial;
}

.row {
    padding: 30px 15% 10px 15%;
    vertical-align: top;
}

.main-content {
    height: 16px;
}
